

@media all and (min-width: 320px) and (max-width: 992px){
	.calc-wrap {
		font-size: 12px;
	}
	.logo-wrap {
		width: 100%;
	}
	#selections select {
		font-size: 1.2em;	
	}
	#selections tr:first-child td:first-child,
	#selections tr:nth-child(2) td:first-child {
		display: none;
	}
	.param-hint {
		width: 100%;
	}
	button#calc_button {
		margin-top: 20px;
		width: auto;
	}
	.buttons-table-wrap {
		margin-bottom: 30px;
		width: 100%;
	}
	.img-wrap {
		width: 100%;
	}
	.speed-wrap {
		margin: auto;
		max-width: 600px;
		width: 100%;
	}
	#device-value,
	#real-value {
		font-size: 2em;
	}
}

@media all and (min-width: 992px) and (max-width: 1200px) {
	.calc-wrap {
		font-size: 14px;
	}
	
}